<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="eTunaLog.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="eTunaLog.My.MySettings.Logsheet_XML_ImportConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Logsheet_XML_Import.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <eTunaLog.My.MySettings>
            <setting name="Vesselname" serializeAs="String">
                <value />
            </setting>
            <setting name="FFAVID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptainName" serializeAs="String">
                <value />
            </setting>
            <setting name="Permit" serializeAs="String">
                <value />
            </setting>
            <setting name="Company" serializeAs="String">
                <value />
            </setting>
            <setting name="Agent" serializeAs="String">
                <value />
            </setting>
            <setting name="Country" serializeAs="String">
                <value />
            </setting>
            <setting name="WCPFCID" serializeAs="String">
                <value />
            </setting>
            <setting name="RegistNo" serializeAs="String">
                <value />
            </setting>
            <setting name="IRC" serializeAs="String">
                <value />
            </setting>
            <setting name="Template" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="LLTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="FADTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="DateTrip" serializeAs="String">
                <value>10/03/2013 15:33:24</value>
            </setting>
            <setting name="GearPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GearLL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TripNo" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewLogsheet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewFAD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageFR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageEN" serializeAs="String">
                <value>True</value>
            </setting>
        </eTunaLog.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
